<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Hallo</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <div class="container">
            <div th:replace="fragments/layout :: h1(text='Kaverit')"></div>
        </div>

        <section class="container">
            <h2>Kaverilistasi:</h2>
            <table class="table">
                <tr th:each="friend : ${friends}">
                    <th> <a th:text="${friend.name}" th:href="@{|/kayttajat/${friend.userpath}|}">Linkki</a><br/> </th>
                    <th> 
                        <form th:action="@{|/kayttajat/${friend.userpath}/remove|}">
                            <input type="submit" value="Poista kavereista" class="btn btn-primary"/>
                        </form>
                    </th>
                </tr>
            </table>
        </section>

        <section class="container">
            <h2>Odottavat pyynnöt: </h2>
            <table class="table">
                <tr th:each="friend : ${waiting}">
                    <th> <a th:text="${friend.name}" th:href="@{|/kayttajat/${friend.userpath}|}">Linkki</a><br/> </th>
                    <th> 
                        <form th:action="@{|/kayttajat/${friend.userpath}/accept|}">
                            <input type="submit" value="Hyväksy" class="btn btn-primary"/>
                        </form>
                    </th>
                    <th> 
                        <form th:action="@{|/kayttajat/${friend.userpath}/reject|}">
                            <input type="submit" value="Hylkää" class="btn btn-primary"/>
                        </form>
                    </th>
                </tr>
            </table>
        </section>

        <section class="container">
            <h2>Lähettämäsi pyynnöt:</h2>
            <table class="table">
                <tr th:each="friend : ${sended}">
                    <th> <a th:text="${friend.name}" th:href="@{|/kayttajat/${friend.userpath}|}">Linkki</a><br/> </th>
                    <th> 
                        <form th:action="@{|/kayttajat/${friend.userpath}/cancel|}">
                            <input type="submit" value="Peruuta pyyntö" class="btn btn-primary"/>
                        </form>
                    </th>
                </tr>
            </table>
        </section>
    </body>
</html>
