<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Signup</title>
    </head>
    <body> 
        <div class="container">
            <div class="row"> 
                <div class="col-12">
                    <h1>Tervetuloa Contact Äppylään (Beta)</h1>
                </div>
            </div>
        </div>
        <div class="container" sec:authorize="isAnonymous()">
            <div class="row">
                <div class="col-12">
                    <h2>Rekisteröidy</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Käyttäjätunnus (username) ja salasana (password) ovat kirjautumistietojasi, jotka eivät näy muille.
                        Nimi (name) ja polku (path) ovat tietoja, joiden avulla muut käyttäjät voivat löytää käyttäjätilisi 
                        (tämä toiminto ei tosin vielä ole saatavilla sovelluksen tässä versiossa).</p>
                </div>
            </div>

            <form method="POST" th:action="@{/welcome}" th:object="${accountDto}">
                <div class="row">
                    <div class="col-6">
                        <input th:field="*{username}" type="text" placeholder="Username" class="form-control"/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6"  th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                        virhe
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input th:field="*{password}" type="password" placeholder="Password" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">virhe</div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input th:field="*{name}" type="text" placeholder="Name" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">virhe</div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <input th:field="*{userpath}" type="text" placeholder="Path" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" th:if="${#fields.hasErrors('userpath')}" th:errors="*{userpath}">virhe</div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <input type="submit" value="Rekisteröidy" class="btn btn-primary"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <p th:text="${message}">Message</p>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-12">
                    <p> 
                        Onko sinulla jo tunnukset? 
                        <a th:href="@{/redirectlogin}">Kirjaudu sisään täältä!</a><br/>
                    </p>
                </div>
            </div>
        </div>
        <div class="container" sec:authorize="isAuthenticated()">
            <div class="row">
                <div class="col-10"> 
                    <p> Olet kirjautuneena! </p> 
                </div>
                <div class="col-2">
                    <form action="/logout">
                        <input type="submit" value="Kirjaudu ulos" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <form action="/deleteaccount">
                        <input type="submit" value="Poista tili" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>