<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Hallo</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <div class="container">
            <div th:replace="fragments/layout :: h1(text='Oma sivu')"></div>
            <div class="row">
                <div class="col-12">
                    <form th:action="@{/files}" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file"/>
                        <input type="submit" value="Lisää profiilikuva!" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a th:href="@{|/kayttajat/${path}/profilepic|}">
                        <img th:src="@{/kayttajat/{path}/profilepic(path=${path})}" width="200" height="200">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <form action="/deletepicture">
                        <input type="submit" value="Poista profiilikuva" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-12">
                        <p>
                            Linkki muille näkyvään sivuusi:
                            <a th:text="@{|/kayttajat/${path}|}" th:href="@{|/kayttajat/${path}|}">Linkki</a><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
