<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Signup</title>
    </head>
    <body>
        <header th:replace="fragments/layout :: header">
            <p>menu</p>
        </header>
        <div class="container">
            <div th:replace="fragments/layout :: h1(text='Etusivu')"></div>
            <div class="row">
                <div class="col-12">
                    <p>Kaverien postaukset näkyvät myöhemmin täällä!</p>
                </div>
            </div>
        </div>
        
       <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Postaa: </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <form th:action="@{/addpost}" method="POST" class="form-inline my-2 my-lg-0">
                        <input class="form-control" type="text" name="post"/>
                        <input type="submit" class="btn btn-outline-primary" value="Lisää postaus!"/>            
                    </form>
                </div>
            </div>
        </div>
        
    </body>
</html>
