<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Signup</title>
    </head>
    <body>

        <h1>Tervetuloa Mezä Someen (Beta)</h1>
        <h2>Rekisteröidy</h2>
        <form method="POST" th:action="@{/signup}">
            <input type="text" name="username"/>
            <input type="password" name="password"/>
            <input type="submit" value="Rekisteröidy"/>
        </form>
    </body>
</html>